@charset "UTF-8";
*:focus-visible {
  outline: 0;
}

:root {
  --border-color: rgba(255,255,255,0.2);
  --bg-color: #d2dce6;
  --inner-light: #e1ebf6;
  --inner-shodow: #bdc6cf;
  --outer-shadow: #b3bbc4;
  --outer-light: #f2fdff;
  --select-light: #f5b2b2;
  --select-shadow: #ce9196;
  --font-color: #333;
  --world-width: 80%;
}

@media screen and (max-width: 1000px) {
  :root {
    --border-color: rgba(255,255,255,0.2);
    --bg-color: #d2dce6;
    --inner-light: #e1ebf6;
    --inner-shodow: #bdc6cf;
    --outer-shadow: #b3bbc4;
    --outer-light: #f2fdff;
    --select-light: #f5b2b2;
    --select-shadow: #ce9196;
    --font-color: #333;
    --world-width: 100%;
  }
}
body-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  box-sizing: border-box;
  color: var(--font-color);
}

main.center-wrap-column {
  position: absolute;
  bottom: 300px;
  width: var(--world-width);
  height: calc(100% - 300px);
  border-radius: 2em 2em 0 0;
  background: #ffca57;
  box-shadow: 10px 10px 20px #d9ac4a, -10px -10px 20px #ffe864;
  transform: translateY(2em);
}
main.center-wrap-column section.list-wrap {
  display: flex;
  padding: 4em 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: absolute;
  height: calc(100% - 200px);
  bottom: 20px;
  width: calc(100% - 4em);
  background-color: #fff;
  flex-wrap: wrap;
  row-gap: 3em;
  column-gap: 2em;
  border-radius: 1em 1em 0 0;
  background: #d2dce6;
  box-shadow: inset 5px 5px 10px var(--outer-shadow), inset -5px -5px 10px var(--outer-light);
  overflow: hidden;
  overflow-y: scroll;
}
main.center-wrap-column section.list-wrap::-webkit-scrollbar {
  width: 1em; /* 스크롤바의 너비 */
}
main.center-wrap-column section.list-wrap::-webkit-scrollbar-thumb {
  background: var(--font-color); /* 스크롤바의 색상 */
  border-radius: 0 1em 0 1em;
}
main.center-wrap-column section.list-wrap::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
}
main.center-wrap-column section.list-wrap article {
  position: relative;
  width: 10%;
  min-width: 200px;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
  transition-duration: 0.5s;
  transition-property: box-shadow, transform, background-color;
}
main.center-wrap-column section.list-wrap article:hover, main.center-wrap-column section.list-wrap article.select:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  transform: scale(0.95);
  transition-duration: 0.5s;
  transition-property: box-shadow, transform, background-color;
}
main.center-wrap-column section.list-wrap article img.simple {
  border-radius: 1em;
  margin: 8% 0;
  width: 85%;
  aspect-ratio: 2/3;
  object-fit: cover;
}
main.center-wrap-column section.list-wrap article .movie,
main.center-wrap-column section.list-wrap article .series,
main.center-wrap-column section.list-wrap article .episode {
  z-index: 10;
  position: absolute;
  top: -0.8em;
  left: 1em;
  display: flex;
  align-items: center;
}
main.center-wrap-column section.list-wrap article .movie,
main.center-wrap-column section.list-wrap article .series,
main.center-wrap-column section.list-wrap article .episode #text {
  font-size: 24px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
main.center-wrap-column section.list-wrap article .movie::before {
  content: "";
  margin-right: 0.5em;
  background-color: #d9ac4a;
  width: 2em;
  height: 2em;
}
main.center-wrap-column section.list-wrap article span.title {
  width: 84%;
  margin: 0 8% 8% 8%;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main.center-wrap-column section.list-wrap article.select {
  background-color: #ffca57;
  box-shadow: 10px 10px 20px #d9ac4a, -10px -10px 20px #ffe864;
  transition-duration: 0.5s;
  transition-property: box-shadow, transform, background-color;
}

header.center-wrap-column {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: -3em;
  width: var(--world-width);
  height: 160px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3em;
  box-shadow: 0 2px 2px rgba(255, 145, 0, 0.7);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  transition-duration: 1s;
  transition-property: transform, background-color, box-shadow;
}
header.center-wrap-column .search-box .search-input {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  border-radius: 2em 0 0 2em;
  padding: 0.2em;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  box-shadow: 0 2px 2px rgba(255, 145, 0, 0.7);
  transition-duration: 1s;
  transition-property: transform, background-color, box-shadow;
}
header.center-wrap-column .search-box .search-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
header.center-wrap-column .search-box .search-input:focus {
  outline: 0;
  border: 1px solid rgba(255, 145, 0, 0.7);
}
header.center-wrap-column .search-option-box {
  position: relative;
  width: 10%;
}
header.center-wrap-column .search-option-box.page {
  width: 5%;
}
header.center-wrap-column .search-option-box .search-option-label {
  display: none;
  position: absolute;
  top: -2.5em;
  left: 0;
  font-size: 14px;
  white-space: nowrap;
  color: var(--bg-color);
  background-color: var(--font-color);
  padding: 0.6em 0.4em;
  border-radius: 0.2em;
}
header.center-wrap-column .search-option-box:hover .search-option-label {
  display: block;
}
header.center-wrap-column .search-option {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--font-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-sizing: border-box;
  border-radius: 0 0 0 0;
  padding: 0.2em;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-left: 1px solid rgba(255, 145, 0, 0.7);
  box-shadow: 0 2px 2px rgba(255, 145, 0, 0.7);
  transition-duration: 1s;
  transition-property: transform, background-color, box-shadow;
}
header.center-wrap-column .search-count:focus {
  border: 1px solid rgba(255, 145, 0, 0.7);
}

header:hover {
  transform: translateY(5em);
  background-color: rgba(255, 255, 255, 0.5);
  transition-duration: 1s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition-property: transform, background-color, box-shadow;
}

.check {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
}

.center-wrap-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.blue {
  background-color: blue;
}

.neumophism {
  position: absolute;
  padding: 1em;
  border-radius: 1em;
  outline: 1px solid var(--border-color);
  color: #333;
  background: var(--bg-color);
  box-shadow: 5px 5px 10px var(--outer-shadow), -5px -5px 10px var(--outer-light);
}

.neumophism:hover {
  border-radius: 1em;
  background: linear-gradient(145deg, var(--inner-shodow), var(--inner-light));
  box-shadow: 5px 5px 10px var(--outer-shadow), -5px -5px 10px var(--outer-light);
}

.neumophism:active {
  padding: 1em;
  border-radius: 1em;
  outline: 1px solid var(--border-color);
  background: #d2dce6;
  box-shadow: inset 5px 5px 10px var(--outer-shadow), inset -5px -5px 10px var(--outer-light);
}

section.info-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 2px solid #999;
  box-shadow: 1px -2px 4px rgba(0, 0, 0, 0.3);
}
section.info-box div.center-wrap-column {
  width: var(--world-width);
  height: 100%;
  background-color: #d9ac4a;
  flex-direction: row;
}
section.info-box div.center-wrap-column .left {
  width: fit-content;
  height: 90%;
  margin: 0 0 1em 1em;
  background-color: #b3bbc4;
  position: relative;
}
section.info-box div.center-wrap-column .left img.infoImg {
  height: 100%;
  aspect-ratio: 2/3;
  background-color: #999;
}
section.info-box div.center-wrap-column .right {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 1em;
  background-color: #ce9196;
  flex-direction: column;
  justify-content: flex-end;
}
section.info-box div.center-wrap-column .right .right-top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 0.5em;
  width: 100%;
  height: 30%;
  background-color: #5f77ff;
}
section.info-box div.center-wrap-column .right .right-top div.title {
  font-size: 24px;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}
section.info-box div.center-wrap-column .right .right-top .run-time {
  position: absolute;
  bottom: 4px;
  left: 4px;
  padding: 0.2em 0.3em;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #999;
  font-size: 14px;
  font-weight: bold;
}
section.info-box div.center-wrap-column .right .right-top .year {
  position: absolute;
  top: 4px;
  right: 4px;
  padding: 0.2em 0.3em;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #999;
  font-size: 14px;
  font-weight: bold;
}
section.info-box div.center-wrap-column .right .right-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em 0.5em;
  width: 100%;
  height: 70%;
  background-color: #5f77ff;
}
section.info-box div.center-wrap-column .right .right-bottom .plot {
  font-style: italic;
}
section.info-box .bottom-loading {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #d2dce6;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
section.info-box .bottom-loading div.h-loader {
  display: block;
  width: 60px;
  height: 60px;
  color: orange;
  z-index: 10;
}
section.info-box .bottom-loading div.h-loader:after {
  content: "loading...";
  display: block;
  margin-top: 1em;
  font-size: 16px;
  font-weight: bold;
}

svg {
  display: block;
  animation: progress-circular-rotate 1.4s linear infinite;
  width: 60px;
  height: 60px;
}

:not(svg) {
  transform-origin: 0px 0px;
}

circle {
  display: block;
  animation: progress-circular-dash 1.4s ease-in-out infinite;
  fill: transparent;
  stroke-linecap: round;
  stroke-dasharray: 80, 200;
  stroke-dashoffset: 0px;
  stroke: currentColor;
  width: 100px;
  height: 100px;
  cx: 45;
  cy: 45;
  r: 20;
  stroke-width: 6px;
  stroke-dasharray: 125;
  stroke-dashoffset: 125px;
}

@keyframes progress-circular-rotate {
  to {
    transform: rotate(1turn);
  }
}
@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }
  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }
  to {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -124px;
  }
}

/*# sourceMappingURL=style.css.map */
